header {
    top: 0;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #475263;
    z-index: 100;
}
body {
    width: 100%;
    height: 100%;
}
header h1 {
    color :white;
}
.containerBanner {
    background: url("../img/resto1.jpeg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
}

#reservationContainer {
    height: 20%;
    width: 80%;
    left: 0;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
    border: 2px solid #475263;
}
